.main_wrapper {
  width: 960px;
  margin: 0 auto;
}

.row {
}
.square {
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 5em;
}

.clicked {
  background-color: red;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  height: 200px;
  width: 200px;
  border: 4px solid black;
  text-align: center;
}
